.debt-form {
  display: flex;
  border: 1px solid lightgray;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  height: 400px;
  width: 400px;

}
.savings-form__form-control {
  margin: 10px 0 10px 0;
}
.background {
  to bottom, #d3b7ea 33%, #3399ff 95%
}

;