/* .savings-form {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  background-color: (to bottom, #e6eab7 33%, #ff339c 95%);
} */

/* .savings-form__form-control {
  margin: 10px 0 10px 0;
} */
/*
.financial-outlook {
  width: 400%;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
} */
